## <font color='navy'> Effective Spread

<font color='navy'> Luis Márquez

In [1]:
import numpy as np
import pandas as pd

s = $2 \sqrt{cov}$

In [2]:
df = pd.read_csv('aapl_5m_train.csv')
df.drop(columns=['Volume', 'Unnamed: 0', 'Timestamp', 'Gmtoffset'], inplace=True)
df['Diff'] = df['Close'].diff()
df['Diff_Lag'] = df['Diff'].shift(1)
df = df.dropna().reset_index(drop=True)

windows = [5, 10, 20, 50, 100]

for window in windows:
    df[f'Cov_{window}'] = df['Diff'].rolling(window=window).cov(df['Diff_Lag'])

df

,Datetime,Open,High,Low,Close,Diff,Diff_Lag,Cov_5,Cov_10,Cov_20,Cov_50,Cov_100
0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998,-0.919998,NaN,NaN,NaN,NaN,NaN
1,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003,0.169998,NaN,NaN,NaN,NaN,NaN
2,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004,0.190003,NaN,NaN,NaN,NaN,NaN
3,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098,-0.660004,NaN,NaN,NaN,NaN,NaN
4,2021-01-04 15:00:00,131.544998,131.669998,131.070007,131.119995,-0.328903,-0.141098,-0.079894,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39564,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999,0.019989,-0.002153,-0.007281,-0.002021,-0.001597,0.004417
39565,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012,0.014999,-0.002983,-0.008514,-0.003648,-0.001944,0.004450
39566,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400,0.325012,0.013455,0.001375,0.000684,0.000681,0.005782
39567,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592,0.384400,0.011183,0.005165,0.002100,0.001991,0.006512
39568,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004,0.185592,0.008050,0.005374,0.000918,0.001816,0.006523